<% layout('layouts/boiler') -%>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="alert alert-danger mt-4" role="alert">
        <p><%= message %></p>
      </div>
    </div>
  </div>
</div>
