<% layout('layouts/boiler') -%>
<div class="row m-1">
  <h2 class="text-center mt-4 mb-3">SignIn On Wanderlust</h2>
  <div class="col-12 col-md-8 col-lg-5 mx-auto">
    <form
      action="/login"
      method="post"
      novalidate
      class="needs-validation border border-2 p-3"
    >
      <div class="mb-3 mt-2">
        <label for="username">UserName</label>
        <input
          name="username"
          class="form-control"
          id="username"
          type="text"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input
          name="password"
          class="form-control"
          id="password"
          type="password"
          required
        />
      </div>
      <button class="btn btn-success w-100">SignIn</button>
    </form>
  </div>
</div>
