<footer class="bg-light py-3 mt-4 border-top">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-12 col-md-4 mb-2 mb-md-0 f-info-social">
        <i class="fa-brands fa-instagram mx-2"></i>
        <i class="fa-brands fa-facebook mx-2"></i>
        <i class="fa-brands fa-linkedin mx-2"></i>
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0 f-info-brand">
        &copy;WanderLust Private Limited
      </div>
      <div class="col-12 col-md-4 f-info-links">
        <a href="/privacy" class="mx-2">Privacy</a>
        <a href="/terms" class="mx-2">Terms</a>
      </div>
    </div>
  </div>
</footer>
